.mainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 248, 189);
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.inputField {
    padding: 7px 15px;
    border-radius: 5%;
    border: none;
}

.add--btn {
    background-color: rgb(150, 150, 255);
    padding: 8px 10px;
    width: 80px;
    border: none;
    margin-left: 5px;
    border-radius: 5%;
}

.displayItems {
    display: block;
}

.edit, .delete {
    width: 20px;
    object-fit: contain;
    margin: 0 4%;
}

.tasklist {
    display: flex;
    margin: 4% 0;
    border: 1px solid #000;
}

